.projects-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 1%;
    max-width:80vw ;
    overflow-wrap: break-word;
}
.project-card {
    max-width: 95vw;
    max-height: 100%;
    margin-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px) { 
    .project-card {
        max-width: 95%;
    }
}