.resume {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.resume-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 5% 5% 10%;
}
.resume-card-left {
    min-width: 23vw;
    max-width: 20vw;
    min-height: 90vh;
    margin-right: 15px;
    opacity: 0.85;
}
.resume-card-right {
    min-width: 60vw;
    max-width: 60vw;
    min-height: 90vh;
    opacity: 0.8;
}
.avatar-img {
    display: flex;
    object-fit: cover;
    border-radius:20%;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    filter: grayscale(100%);
}
.particle-js {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0 ;
}

.resume-text-1 {
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: antiquewhite;
    font-weight: bolder;
}

.resume-text-2 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    opacity: 0.6;
    font-weight: bolder;
}

.resume-text-3 {
    display: flex;
    font-size: 16px;
    vertical-align: middle;
}
.resume-text-4 {
    display: flex;
    font-size: 20px;
    vertical-align: middle;
    color: antiquewhite;
}

.resume-text-5 {
    display: flex;
    font-size: 17px;
    color: #dbffff ;
    opacity: 0.7;
}

.divider {
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.2;
    height: 0.01px;
    background-color:#626970 ;
}
.resume-separator {
    margin-top: 7%;
    margin-bottom: 5%  ;
    display: flex;
    flex-direction: column;
    text-align: bottom;
}

.resume-separator-2 {
    margin-top: 3%;
    margin-bottom: 3%  ;
    display: flex;
    flex-direction: column;
    text-align: bottom;
}

.resume-heading {
    text-align: center;
    background-color: #2C3E50;
    color: #F4F6F7;
    width: 100%;
    font-size: 20px;
    border-radius: 15px;
    text-shadow:1px 1px 10px #AAB7B8, 1px 1px 10px #AAB7B8;
    opacity: 0.9;
    margin-bottom: 1%;
}

.resume-link {
    text-decoration: none;
    color:#BFC9CA ;
}
.resume-link:hover {
    text-decoration: underline;
    color: #F8F9F9;
}
.resume-awards-ul-container {
    display: flex;
    margin: 1%;
}
.resume-awards-ul-container ul {
    list-style-type: none;
}
.resume-awards-ul-container li {
    list-style-position:inside;
    border: 1px solid#707B7C;
    border-radius: 16px;
    padding: 2.5%;
    margin-bottom: 1%;
}

.experience-table {
    margin-top: 3%;
    margin-bottom: 2%;
    min-width: 100%;
}

.experience-table table td  {
    border: 0px transparent; 
    padding: 1%;
    max-width: 100%;
}

.resume-body-separator {
    margin-bottom: 7%;
}

.experience-glow-text {
    font-size: 16px;
    color: #dbffff ;
}

.experience-company {
    text-decoration: none;
    color: #6AB4FF ;
    font-size: 15px;
}
.experience-company:hover {
    font-size: 15px;
    color: bisque;
    text-decoration: underline;
}

.resume-awards-ul-container hr {
    display: flex;
	height: 2px;
	margin: 3px;
	left: 50%;
	border: none;
    border-bottom: 0.5px solid;
    border-color: #707B7C;
}
.pdf-button-container {
    display: flex;
    margin-left: auto;
    z-index: 3;
}
.pdf-button {
    color: #E74C3C;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-size: 14px;
    vertical-align: middle;
    opacity: 0.8;
    outline: none;
    cursor: pointer;

}
.progress-bar-custom-50 {
	margin-left: auto;
	width: 170px;
    height: 14px;
    opacity: 0.7;
	background: -webkit-gradient(linear, left, right, color-stop(50%, #52ba65), color-stop(0%, #ececec));
	background: -webkit-linear-gradient(left, #52ba65 50%, #ececec 0%);
	background: -moz-linear-gradient(left, #52ba65 50%, #ececec 0%);
	background: -o-linear-gradient(left, #52ba65 50%, #ececec 0%);
	background: linear-gradient(to right, #52ba65 50%, #ececec 0%);
	border-radius: 20px;
}
.progress-bar-custom-75 {
	margin-left: auto;
	width: 170px;
    height: 14px;
    opacity: 0.7;
	background: -webkit-gradient(linear, left, right, color-stop(75%, #52ba65), color-stop(0%, #ececec));
	background: -webkit-linear-gradient(left, #52ba65 75%, #ececec 0%);
	background: -moz-linear-gradient(left, #52ba65 75%, #ececec 0%);
	background: -o-linear-gradient(left, #52ba65 75%, #ececec 0%);
	background: linear-gradient(to right, #52ba65 75%, #ececec 0%);
	border-radius: 20px;
}
.progress-bar-custom-80 {
	margin-left: auto;
	width: 170px;
    height: 14px;
    opacity: 0.7;
	background: -webkit-gradient(linear, left, right, color-stop(80%, #52ba65), color-stop(0%, #ececec));
	background: -webkit-linear-gradient(left, #52ba65 80%, #ececec 0%);
	background: -moz-linear-gradient(left, #52ba65 80%, #ececec 0%);
	background: -o-linear-gradient(left, #52ba65 80%, #ececec 0%);
	background: linear-gradient(to right, #52ba65 80%, #ececec 0%);
	border-radius: 20px;
}
.progress-bar-custom-90 {
	margin-left: auto;
	width: 170px;
    height: 14px;
    opacity: 0.7;
	background: -webkit-gradient(linear, left, right, color-stop(90%, #52ba65), color-stop(0%, #ececec));
	background: -webkit-linear-gradient(left, #52ba65 90%, #ececec 0%);
	background: -moz-linear-gradient(left, #52ba65 90%, #ececec 0%);
	background: -o-linear-gradient(left, #52ba65 90%, #ececec 0%);
	background: linear-gradient(to right, #52ba65 90%, #ececec 0%);
	border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
    .resume-text-1 {
        display: flex;
        justify-content: center;
        font-size: 22px;
        color: antiquewhite;
    }
    .resume-text-2 {
        display: flex;
        justify-content: center;
        font-size: 14px;
        opacity: 0.7;
    }
    .resume-card-left {
        min-width: 100vw;
        min-height: 90vh;
    }
    .resume-card-right {
        min-width: 60vw;
        min-height: 90vh;
        display: none;
    }
    .resume-text-3 {
        display: flex;
        font-size: 15px;
        vertical-align: middle;
    }
}
